## 1. Iterate each line of the provided ATAC_meta.csv file (except the header line), write the first number of each line (i.e., the 2nd column/the “total” column) into a list.

In [9]:
input_file=open('ATAC_meta.csv', 'r')
input_file.readline()

'barcode,total,duplicate,chimeric,unmapped,lowmapq,mitochondrial,nonprimary,passed_filters,is__cell_barcode,excluded_reason,TSS_fragments,DNase_sensitive_region_fragments,enhancer_region_fragments,promoter_region_fragments,on_target_fragments,blacklist_region_fragments,peak_region_fragments,peak_region_cutsites\n'

In [10]:
our_list=[]
for line in input_file:
    line=line.strip().split(',')
    total=int(line[1])
    our_list.append(total)

In [11]:
our_list[:5]

#check the first 5 items

[485, 4476, 6445, 6341, 38717]

### another way using pandas

In [13]:
import pandas as pd
input_mtx=pd.read_csv('ATAC_meta.csv')
input_mtx

,barcode,total,duplicate,chimeric,unmapped,lowmapq,mitochondrial,nonprimary,passed_filters,is__cell_barcode,excluded_reason,TSS_fragments,DNase_sensitive_region_fragments,enhancer_region_fragments,promoter_region_fragments,on_target_fragments,blacklist_region_fragments,peak_region_fragments,peak_region_cutsites
0,AAACATCGAAACATCG-1,485,40,0,76,40,26,0,303,0,3,104,0,0,0,104,0,108,211
1,AAACATCGAACAACCA-1,4476,528,2,577,351,203,0,2815,0,3,886,0,0,0,886,0,921,1766
2,AAACATCGAACCGAGA-1,6445,849,0,803,482,177,1,4133,0,3,1145,0,0,0,1145,0,1156,2206
3,AAACATCGAACGCTTA-1,6341,730,1,879,536,130,0,4065,0,3,1053,0,0,0,1053,0,1045,1991
4,AAACATCGAACGTGAT-1,38717,5060,2,4359,2750,524,3,26019,1,0,7595,0,0,0,7595,0,7847,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,GCCACATAGAATCTGA-1,11735,1299,1,2132,919,379,0,7005,0,3,1858,0,0,0,1858,0,1979,3786
2496,GCCACATAGACTAGTA-1,17777,2247,2,2408,1395,477,2,11246,0,0,2874,0,0,0,2874,0,2822,5362
2497,GCCACATAGAGCTGAA-1,12042,1164,1,2475,921,480,0,7001,0,3,1803,0,0,0,1803,0,1868,3573
2498,GCCACATAGATAGACA-1,6408,708,0,1077,545,226,1,3851,0,3,929,0,0,0,929,0,880,1660
2499,GCCACATAGCCACATA-1,24720,2448,0,3928,2044,724,4,15572,1,0,4248,0,0,0,4248,0,4275,8144

In [14]:
our_list_pandas=list(input_mtx['total'])

## 2. Count how many lines there are in this .csv file and calculate the average of the list you obtained.

In [15]:
input_file=open('ATAC_meta.csv', 'r')
input_file.readline()
print(len(input_file.readlines()))

2500

In [16]:
print(len(our_list))
print(len(our_list_pandas))

2500
2500

In [17]:
import numpy as np
print(np.mean(our_list))
print(np.mean(our_list_pandas))

7273.056
7273.056

## 3. write a Python script that can generate a reverse complement sequence for any sequences containing A/C/T/G

In [18]:
"AATTCCGG"[::-1]

## this is the reverse sequence (not reverse complement)

'GGCCTTAA'

In [19]:
def reverse_complement(seq):
    """
    This function takes a DNA sequence as input and returns its reverse complement.
    """
    complement = {'A': 'T', 'T': 'A', 'C': 'G', 'G': 'C'}
    new_seq = []
    for base in seq[::-1]:
        new_seq.append(complement[base])
    return ''.join(new_seq)

In [20]:
old_seq=[
    "AATTCCGG",
    "GGTTCCAA"
]

In [21]:
new_seq=[]

for i in old_seq:
    rc_seq = reverse_complement(i)
    new_seq.append(rc_seq)

In [22]:
print(new_seq)

['CCGGAATT', 'TTGGAACC']

### Just briefly show you how you can save new_seq into a file

In [23]:
output = open('output_file.txt','w')
for i in new_seq:
    output.write(str(i)+'\n')
output.close()

### You can find output_file.txt in the current directory